<form [formGroup]="loginForm"
  (ngSubmit)="loginForm.valid && logIn(loginForm.controls['email'].value, loginForm.controls['password'].value)"
  autocomplete="off">

  <label for="email">Email: </label>
  <input type="email" [formControl]="loginForm.controls['email']">

  <label for="password">Password: </label>
  <input type="password" [formControl]="loginForm.controls['password']">

  <button [disabled]="!loginForm.valid" class="btn btn-success me-2" type="submit">Sign in</button>
  <div *ngIf="loginForm.controls.control?.errors?.required" class="invalid-feedback">The value is mandatory
  </div>
</form>

<p>Form Status: {{ loginForm.status }}</p>
<small><a routerLink="/register">Don't have an account? Sign up!</a></small>
